
@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}




@using FitnessWeb.Models.Siniflar;
@model List<Kategori>


<br />

<table id="kategoritbl" class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Kategori</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    @foreach (var a in Model)
    {
<tr>
    <td>@a.KategoriId</td>
    <td>@a.KategoriAd</td>

    <td><a id="btn2" href="/DanisanPanel/kategori1/@a.KategoriId" class="btn btn-success">Antrenörleri Gör</a> </td>
    
</tr>
    }
</table>




<script>


</script>



