@model FitnessWeb.Models.Siniflar.Danisanlar
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/AdminPanel.cshtml";
}



<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<br />
<form method="post" enctype="multipart/form-data">

    


</form>



<script>



</script>
